menu "IMU"
    menuconfig COMMON_IMU
        bool "Common IMU's"
        default n
        select DRIVERS_IMU_BOSCH_BMI088
        select DRIVERS_IMU_INVENSENSE_ICM42688P
        ---help---
            Enable default set of IMU drivers
    rsource "*/Kconfig"
endmenu
