menu "Magnetometer"
    menuconfig COMMON_MAGNETOMETER
        bool "Common Magnetometer's"
        default n
        select DRIVERS_MAGNETOMETER_AKM_AK8963
        select DRIVERS_MAGNETOMETER_HMC5883
        select DRIVERS_MAGNETOMETER_ISENTEK_IST8310
        ---help---
            Enable default set of magnetometer drivers
    rsource "*/Kconfig"
endmenu
